<h5>Diretiva *ngFor</h5>

<ul>
    <li *ngFor="let curso of cursos, let i = index">
        {{ i + 1 }} - {{ cursos }}

    </li>
</ul>

<ul>
    <ng-template ngFor [ngForOf]="cursos" let-curso let-i="index">
        <li>
            {{ i + 1 }} - {{ cursos }}

        </li>
    </ng-template>
</ul>
