
    
    <i
    (click)="onClick()"
    [ngClass]="{'fa fa-1x btn btn-md btn-primary': true,
        'fa-star text-success' : meuFavorito, 
        'fa-star-o' : !meuFavorito
    }"
    > Favorito</i>    

<!-- <p>
    <i class="fa fa-check fa-3x">

    </i>
</p> -->