<p fundoAmarelo>
    Texto com o fundo amarelo.
</p>

<button fundoAmarelo>Botão com fundo amarelo</button>

<p highlightMouse>
    Texto com Highlight quando passo o mouse.
</p>

<p highlight = "red" defaultColor = "white">
    Texto com Highlight com cores customizadas.
</p>

<div *ngIf="cursos.length > 0">
    Possui {{ cursos.length }} cursos.
</div>
<div *ngElse="cursos.length == 0">
    Não existem cursos para serem listados.
</div>
<br>

<button (click)="onMostrarCursos()">Mostrar ou esconder cursos</button> 

<ng-template [ngElse]="cursos.length > 0">
<div>
    Possui {{ cursos.length }} cursos.
</div>
</ng-template>