<!-- <app-diretiva-ngif></app-diretiva-ngif>
<app-diretiva-ngfor></app-diretiva-ngfor>
<app-diretiva-ngswitch></app-diretiva-ngswitch>
<app-diretiva-ngclass></app-diretiva-ngclass>
<app-diretiva-ngstyle></app-diretiva-ngstyle>
<app-operador-elvis></app-operador-elvis> -->

 <app-exmplo-ngcontent>
    <div class="titulo">
        Título do Painel
    </div>
    <div class="corpo">
        Conteúdo passado para o componente.
    </div>
</app-exmplo-ngcontent>

<app-diretivas-customizadas></app-diretivas-customizadas>