<h5>*ngIf</h5>
{{ dataHoje | date:'dd/MM/yy' }}
{{ cursos | json }}
<div *ngIf="cursos.length > 0">
    Possui {{ cursos.length }} cursos.
</div>
<div *ngIf="cursos.length == 0">
    Não existem cursos para serem listados.
</div>


<br>

<button (click)="onMostrarCursos()">Mostrar ou esconder cursos</button> 
<div [hidden]="mostrarCursos">
    Cursos indisponíveis
</div>
<div *ngIf="mostrarCursos"> 
    {{ cursos | json }}
</div>

<div *ngIf="mostrarCursos">
    Lista de cursos aqui.
</div>

<div *ngIf="alternarVisualizacao()" style="margin: 20px 10px">
    Meus cursos: {{cursos | json}}
</div>


<ng-template [ngIf]="mostrarCursos">
    <div>Lista de cursos aqui.</div>
</ng-template>