<h5>Styles com property binding (style binding)</h5>
<button
    [style.backGroundColor]="ativo ? 'blue' : 'gray'"
    [style.color]="ativo ? 'blue' : 'black'"
    [style.fontWeight]="ativo ? 'bold' : 'normal'"
    [style.fontSize]="tamanhoFonte + 'px'"
    (click)="mudarAtivo()"
>
Mudar atributo 'ativo'
</button>

<br><br>

<input type="text" [(ngModel)]="tamanhoFonte">
