<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link"
        [class.active]="aba == 'home'" 
        (click)="aba = 'home'" href="#">Home</a>
      <a class="nav-item nav-link"
        [class.active]="aba == 'mapa'"
        (click)="aba = 'mapa'" href="#">Mapa</a>
      <a class="nav-item nav-link"
        [class.active]="aba == 'lista'"
        (click)="aba = 'lista'" href="#">Lista</a>
  </div>
  </div>
</nav>

<div class="container" [ngSwitch]="aba">
    <p *ngSwitchCase="'mapa'">Modo mapa ativado</p>
    <p *ngSwitchCase="'lista'">Modo lista ativado</p>
    <p *ngSwitchDefault>Home</p>
</div>



<h5>Removendo o * e usando template</h5>

<div class="container" [ngSwitch]="aba">
  <ng-template [ngSwitchCase]="'mapa'">
    <p>Modo mapa ativado</p>
  </ng-template>

  <ng-template [ngSwitchCase]="'lista'">
    <p>Modo lista ativado</p>
  </ng-template>

  <ng-template [ngSwitchCase]="'home'" ngSwitchDefault>
    <p>Home</p>
  </ng-template>

</div>