<div class="card">
    <div class="card-body" class="card text-white bg-dark mb-3"> 
        <ng-content select=".titulo"></ng-content>
    </div>
<div class="card-body" class="card text-white bg-primary mb-3">
    <ng-content select=".corpo"></ng-content>
</div>
</div>